body {
background-color: grey;
}
nav {
background-color: white;
}
header {
background-color: white;
}
section {
overflow: auto;
width: 600px;
height: 500px;
float: left;
background-color: lightskyblue;
}
article {
width: 600px;
height: 100px;
text-align: center;
float: left;
clear: both;
background-color: firebrick;
color: floralwhite;
}
