body {
background-color: lightblue;
}
nav>a {
  color: white;
}
header {
font-size: 50px;
}
.high {
color: red;
}
.med {
color: orange;
}
.low {
color: grey;
}
done {
text-decoration: line-through;
}

