body {
background-color: lightblue;
}
nav {
  background-color: white;
}
header {
font-size: 50px;
}
.high {
color: red;
}
.med {
color: orange;
}
.low {
color: grey;
}
done {
text-decoration: line-through;
}
section1 {
  background-color: red;
}
section1>li {
  color: white;
}
#a2 {
  background-color: orange;
}
section2>li {
  color: brown;
}
section3 {
  background-color: grey;
}
section3>li {
  color: black;
}
section4 {
  background-color: green;
}
section4>li {
  text-decoration: line-through;
  color: cyan;
}
